Raw_Data
Capstone_files
202110-divvy-tripdata.csv
202111-divvy-tripdata.csv
202112-divvy-tripdata.csv
202201-divvy-tripdata.csv
202202-divvy-tripdata.csv
202203-divvy-tripdata.csv
202204-divvy-tripdata.csv
202205-divvy-tripdata.csv
202206-divvy-tripdata.csv
202207-divvy-tripdata.csv
202208-divvy-tripdata.csv
202209-divvy-publictripdata.csv